h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: red;
    width: 130px;
    height: 50px;
}

canvas{
    animation-name: example;
    animation-duration:500ms;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 500px rgb(255, 225, 0);}
    to{box-shadow: 1px 1px 500px cyan;}
}
